:root{
    --brockys-blue: #0d98ba;
    --brockys-dark-blue: #0B88A7;
    --brockys-orange: #ff914d;
    --brockys-charcoal: #333333;
}

@font-face {
    font-family: 'gagalin';
    src: url('../fonts/gagalin/Gagalin-Regular.otf') format('opentype');
}

body{
    box-sizing: border-box;
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 0 0 20px 0;
    line-height: 2.5rem;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--brockys-orange);
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 18px;
}


header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    max-width: 1920px;
    border-bottom: 1px solid var(--brockys-charcoal);
}

nav ul li{
    display: inline-block;
    padding-left: 20px;
}

nav ul li a{
    color: var(--brockys-charcoal);
    text-decoration: none;
}

.logo-name{
    display: block;
    font-family: 'gagalin';
    font-size: 3rem;
    color: var(--brockys-blue);
    text-transform: uppercase;
    line-height: 3rem;
}

.tagline{
    display: block;
    font-size: 1.5rem;
    color: var(--brockys-orange);
    font-family: "Poppins", serif;
    line-height: 2rem;
}

#hero{
    background-image: url('../images/handyman-banner-1920.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 121px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#hero img, #hero h1, #hero h2{
    z-index: 2;
    max-width: 90%;
}

main{
    max-width: 1920px;
}

#main-content{
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

section h2{
    margin-top: 40px;
}

.intro{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2rem;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.service-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box{
    position: relative;
    width: 30%;
    min-width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--brockys-charcoal);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

.service-border{
    position: relative;
    border: 1px solid white;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-border p{
    cursor: default;
    position:absolute;
    opacity: 0;
    transform: scale(0.1);
    transition: transform 1s ease, opacity 0.5s ease;
    max-width: 85%;
    margin: auto;
}

.service-border:hover > p, .service-border:active > p{
    opacity: 1;
    transform: scale(1);
}

.service-border:hover > h3, .service-border:active > h3{
    opacity: 0;
    transform: scale(0.1);
}

.service-border h3{
    cursor: default;
    font-size: 32px;
    opacity: 1;
    transform: scale(1);
    transition: transform 1s ease, opacity 0.5s ease;
    position: relative;
    z-index: 2;
    padding: 10px;
}

.plumbing{
    background-image: url('../images/plumbing.jpg');
}

.tiling{
    background-image: url('../images/tiling.jpg');
}

.repairs{
    background-image: url('../images/home-repairs.jpg');
}

.gardening{
    background-image: url('../images/gardening.jpg');
}

.lighting{
    background-image: url('../images/lighting.jpg');
}

.painting{
    background-image: url('../images/painting.jpg');
}

.about-content{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-content figure{
    display: inline-block;
    position: relative;
    width: 300px;
    margin-bottom: 40px;
}

.about-content figure::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    width: 300px;
    height: 400px;  
    background-color: var(--brockys-blue);
}

.about-content figure::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 300px;
    height: 400px;
    background-color: var(--brockys-orange);
    z-index: 1;
}

.about-content img{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    z-index: 2;
}

.about-content p{
    display: inline-block;
    width: 50%;
    flex-grow: 1;
    margin-left: 40px;
}

footer{
    background-color: var(--brockys-charcoal);
    color: white;
    text-align: center;
    font-size: small;
    padding: 20px;
    margin-top: 20px;;
}

@media only screen and (max-width: 600px){

    header{
        flex-direction: column;
    }

    .logo-name{
        text-align: center;
    }

    .tagline{
        text-align: center;
    }

}